*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

main{
    width: 100vw;
    height: 100vh;
    background: url('/Modal/asset/fondo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    width: 50%;
    height: 50%;
    background: rgba(40, 4, 73, 0.2);
    text-align: center;

}

.contenedor h1{
    margin: 20px;
    font-size: 40px;
    color: white;
}

.contenedor button{

    padding: 10px;
    color: white;
    border-radius: 50px;
    border: 2px solid white;
    background-color: rgb(40, 4, 73);
}

.contenedor button:hover{
    border: 2px solid rgb(40, 4, 73);
    background: white;
    color: rgb(40, 4, 73);
    transition: all 0.3s ease-in;
}

.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(173, 168, 168, 0.5);
}

.modal-hide{
    display: none;
}

.modal .ventana{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 30%;
    height: 30%;
    background: white;
    position: relative;
}

.modal .ventana button{
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: rgb(143, 26, 26);
    font-weight: bold;
    font-size: 30px;
}

.ventana button i{
    transition: transform 0.3s ease-in-out;
}

.ventana button i:hover{
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 700px){
    .contenedor h1{
        margin: 20px;
        font-size: 20px;
        color: white;
    }

    .contenedor{
        width: 80%;
    }

    .modal .ventana{
        width: 80%;
    }
}