*{
    padding: 0;
    margin: 0;
    font-family: monospace;
}

main{
    background: darksalmon;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;

    .mensaje{
        .text{
            font-size: 30px;
        }
    }

    .control{
        background: rgb(190, 123, 101);
        position: absolute;
        bottom: 20px;
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        input{
            width: 50px;
            height: 30px;
            background: darksalmon;
            text-align: center;
            border: none;
        }
    }
}